<a class="link-black" href="http://www.bubbly.net/profiles/felixqk" target="_blank"><img src="assets/images/bubbly.png" width="26" height="36"></a>
<a class="link-black" href="https://twitter.com/felixqk" target="_blank"><i class="icon-2x icon-twitter-sign"></i></a>
<a class="link-black" href="http://www.linkedin.com/in/felixqk" target="_blank"><i class="icon-2x icon-linkedin-sign"></i></a>
<a class="link-black" href="http://felixqk.github.io/" target="_blank"><i class="icon-2x icon-github-sign"></i></a>
<a class="link-black" href="mailto:felixqk@gmail.com" target="_blank"><i class="icon-2x icon-envelope"></i></a>
<a class="link-black" href="http://www.meetup.com/Reactive-Mobile-Hackers/" target="_blank"><img src="assets/images/meetup.png" width="36" height="33"></a>