<a class="link-black" href="https://twitter.com/felixqk" target="_blank"><i class="icon-2x icon-twitter-sign"></i></a>
<a class="link-black" href="http://www.linkedin.com/in/felixqk" target="_blank"><i class="icon-2x icon-linkedin-sign"></i></a>
<a class="link-black" href="https://github.com/felixqk" target="_blank"><i class="icon-2x icon-github-sign"></i></a>
<a class="link-black" href="https://bitbucket.org/felixqk" target="_blank"><i class="icon-2x icon-bitbucket-sign"></i></a>
<a class="link-black" href="http://stackoverflow.com/users/2089476/felixqk" target="_blank"><i class="icon-2x icon-stackexchange"></i></a>
<a class="link-black" href="mailto:felixqk@gmail.com" target="_blank"><i class="icon-2x icon-envelope"></i></a>