<!-- home -->
<div id="home-page" class="content-page">
    <h1 class="page-header no-top"><i class="icon-large icon-home"></i> Welcome!</h1>
    <p class="lead">My name is Qian Kun, and this is my websites.</p>
    
    <p>I'm currently a Software Engineer in the <a href="http://www.hcltech.com/" target="_blank">Enterprice Mobility Lab, HCL Technology</a> , Singapore. I am <strong>lead Java/Android developer</strong> in designing and developing mobile <i>E-Commerce, Wallet, CRM, Task Management apps</i> for MNCs in E-commerce, Banking and Governments secters.</p>

    <p>Before joining HCL, <strong>I co-foundered (Android/UX)</strong> a mobile social networking startup named  <a href="https://play.google.com/store/apps/details?id=Android.GroupCells.Ui" target="_blank"> GroupCells </a>  in 2011, you may find some intro in  <a href="http://techcrunch.com/tag/groupcells/" target="_blank"> TechCrunch </a>,  <a href="http://cn.technode.com/post/2011-11-24/%E7%BE%A4%E8%90%BD%EF%BC%9A%E5%9B%BE%E7%89%87%E7%A4%BE%E4%BA%A4%E4%BD%8D%E7%BD%AE%E7%94%B5%E5%AD%90%E5%95%86%E5%8A%A1/" target="_blank"> TechNode </a> etc.</p>

           <p>I worked as Graduate Researcher in  <a href="http://www.nus-hci.org/" target="_blank"> Human Computer Interaction (HCI) Lab</a>, National University of Singapore,  <a href="http://hci.cs.umanitoba.ca/" target="_blank"> HCI Lab, University of Manitoba</a>, Canada. I graduated with M.Sc in Computer Science/HCI in  <a href="http://www.nus.edu.sg/" target="_blank"> National University of Singapore</a>, B.S in Computer Science/Machine Learning and B.B.A in Accountancy from  <a href="http://www.fudan.edu.cn/englishnew/" target="_blank">Fudan University</a>, China.</p>

<br>
     <p class="lead"><strong>Skills:</strong></p> 

        <span class="skillMobile">Java/Android <small>(Expert)</small></span>
        <span class="skillMobile">C#/Windows8</span>
        <span class="skillMobile">JavaScript/jQMobile/Bootstrap/PhoneGap</span>
        <span class="skillMobile">Objective-C/iOS</span>
        <span class="skillWeb">Java/Play Framework</span>
        <span class="skillWeb">Ruby on Rails</span>
        <span class="skillWeb">JavaScript/NodeJS/Express</span>
        <span class="skillWeb">C++</span>
        <span class="skillWeb">AWS/Heroku</span>
        <span class="skillData">SQL/SQLite/MySQL</span>
        <span class="skillData">NOSQL/MongoDB</span>
        <span class="skillData">Big Data/Hadoop</span>
        <span class="skillDev">UX/UI</span>
        <span class="skillDev">Agile</span>
    
</div>