<!-- home -->
<div id="home-page" class="content-page">
    <h1 class="page-header no-top"><i class="icon-large icon-home"></i> Welcome!</h1>
    <p class="lead">My name is Qian Kun, and this are my <a href="#portfolios" target="_blank">Portfolios</a> and my <a href="assets/QianKun_Resume.pdf" target="_blank">Resume</a>.</p>

    <p>I'm currently a <b>Software Engineer in <a href="http://bubbly.net/" target="_blank">Bubbly</a> </b>, a leader in voice based mobile social networks and messaging for both smartphone and feature phone. We are a VC backed startup ($60m from Sequoia, JAFCO, Singtel etc) with 30m subscribers. I am in charge of <a href="https://play.google.com/store/apps/details?id=com.bubblemotion" target="_blank"> Bubbly Android Platform. </a>

    <p>Before joining Bubbly:</p>
    <li><b>Software Engineer (Android/Play Framework/UX)</b>, <a href="http://www.hcltech.com/" target="_blank">Enterprice Mobility Lab, HCL Technology, Singapore</a>. developing Mobile E-Commerce, Payment and CRM apps for MNCs, 2012-2013 </li>
    <li><b>Co-founder (Android/UX)</b>,  <a href="https://play.google.com/store/apps/details?id=Android.GroupCells.Ui" target="_blank"> GroupCells</a>, a mobile social network, as reported in <a href="http://techcrunch.com/tag/groupcells/" target="_blank"> TechCrunch </a>,  <a href="http://cn.technode.com/post/2011-11-24/%E7%BE%A4%E8%90%BD%EF%BC%9A%E5%9B%BE%E7%89%87%E7%A4%BE%E4%BA%A4%E4%BD%8D%E7%BD%AE%E7%94%B5%E5%AD%90%E5%95%86%E5%8A%A1/" target="_blank"> TechNode </a> etc, 2011.</li>

<br>
   <p>I graduated with M.Sc in Computer Science/HCI in  <a href="http://www.nus.edu.sg/" target="_blank"> National University of Singapore</a>, B.S in Computer Science/Machine Learning and B.B.A in Accountancy from  <a href="http://www.fudan.edu.cn/englishnew/" target="_blank">Fudan University</a>, China. During my study, I worked as Graduate Researcher in <a href="http://www.nus-hci.org/" target="_blank">HCI Lab, National University of Singapore</a> and<a href="http://hci.cs.umanitoba.ca/" target="_blank"> HCI Lab, University of Manitoba, Canada</a>. </p>
<br>
     <p class="lead"><strong>Skills:</strong></p> 

        <span class="skillMobile">Java/Android <small>(Expert)</small></span>
        <span class="skillMobile">C#/Windows8</span>
        <span class="skillMobile">JS,CSS,HTML5/jQMobile/Bootstrap/PhoneGap</span>
        <span class="skillMobile">Objective-C/iOS</span>
        <span class="skillWeb">Java/Play Framework</span>
        <span class="skillWeb">Ruby on Rails</span>
        <span class="skillWeb">JavaScript/NodeJS/Express</span>
        <span class="skillWeb">C++</span>
        <span class="skillWeb">AWS/Heroku/Cloud Foundry</span>
        <span class="skillData">SQL/SQLite/MySQL</span>
        <span class="skillData">NOSQL/MongoDB</span>
        <span class="skillData">Big Data/Hadoop</span>
        <span class="skillDev">UX/UI</span>
        <span class="skillDev">Agile</span>
<br>
<br>
     <p class="lead"><strong>Tools:</strong></p> 

        <span class="skillMobile">IDE/IntelliJ IDEA, Eclipse, Sublime, VS</span>
        <span class="skillWeb">Git/GitHub, SourceTree</span>
        <span class="skillData">CI/Jenkins, Sonar</span>
        <span class="skillDev">Maven/Sonatype-Nexus</span>
        <span class="skillMobile">Analytics/Flurry, Crashlytics, Google Analytics</span>
        <span class="skillWeb">ABTesting/LeanPlum</span>           
    
</div>