<!-- portfolios -->

<div id="portfolios-page" class="content-page">
    <h1 class="page-header no-top"><i class="icon-large icon-gears"></i> Portfolios</h1>

    <div class="row-fluid">

        <div class="span4 portfolio-item">
            <div class="info">
                <span align="center"><a href="https://play.google.com/store/apps/details?id=com.singpost.scandelightandroid" target="_blank">ScanDelight: Mobile Commerce</a></span>
                <span class="meta" align="center">Android/Java, Refactor</span>
            </div>
            <img src="assets/images/projects/scandelight.png" alt="ScanDelight"/>
        </div>

        <div class="span4 portfolio-item">
            <div class="info">
                <span align="center"><a rel="popover" data-content="<form>HawkEye is a Mobile Field Service Management System that enable field workers accept, finish, coordinate tasks and write reports on the Go.
                    <p>
                    <label>Key features:</label>
                    <li>Real-time job monitoring</li>
                    <li>On-the-go task completion</li>
                    <li>Dropbox and Skype Integration</li>
                    <li>Map/List View Switch</li>
                    <li>Gesture Interaction</li>
                    <li>Offline Usage</li>
                </form>" data-original-title="Clients: NEA, URA">HawkEye: Power Mobile Worker</a></span>
                <span class="meta" align="center">Android/Java, UX/UI</span>
            </div>
            <img src="assets/images/projects/hawkeye.png" alt="Hawkeye"/>
        </div>

        <div class="span4 portfolio-item">
            <div class="info">
                <span align="center"><a rel="popover" data-content="<form>VISABrowser is a Voice Authentication Mobile Wallet that safely store your credit cards information and auto fill in all the forms when do mobile shopping.
                    <p>
                    <label>Key features:</label>
                    <li>Voice Authentication</li>
                    <li>eCommerce Sites Integration</li>
                    <li>Auto fillin information</li>
                    <li>Customized Keyboard</li>
                    <li>Additional Authentication</li>
                </form>" data-original-title="Client: VISA">VISABrowser: Mobile Wallet</a></span>
                <span class="meta" align="center">Android/Java</span>
            </div>
            <img src="assets/images/projects/visabrowser.png" alt="VisaBrowser"/>
        </div>

        <div class="span4 portfolio-item">
            <div class="info">
                <span align="center"><a rel="popover" data-content="<form>FinEdge is a Mobile CRM for Corporate Banking and Private Banking. It simulate a day in life for a banking relationship managers. 
                    <p>
                    <label>Key features:</label>
                    <li>Mobile Dashboard</li>
                    <li>Customer Portfolio Management</li>
                    <li>Product Management</li>
                    <li>Survey System Integration</li>
                    <li>Social Feeds Integration</li>
                    <li>Mobile Analytics</li>
                </form>" data-original-title="Client: MayBank">FinEdge: Mobile Banking CRM</a></span>
                <span class="meta" align="center">Windows8/C#, JS/HTML5, UX/UI</span>
            </div>
            <img src="assets/images/projects/finedge.png" alt="FinEdge"/>
        </div>

        <div class="span4 portfolio-item">
            <div class="info">
                <span align="center"><a rel="popover" data-content="<form>CitizenVoice is a Mobile Survey System that can dynamicly generate kinds of surveys based on template, and effectively capture feedback and give rewards to citizens.
                    <p>
                    <label>Key features:</label>
                    <li>Survey Template</li>
                    <li>Customized Themes</li>
                    <li>Rewards System</li>
                </form>" data-original-title="Client: EDB">CitizenVoice: Mobile Survey</a></span>
                <span class="meta" align="center">Windows8/C#, UX/UI</span>
            </div>
            <img src="assets/images/projects/citizenvoice.png" alt="CitizenVoice"/>
        </div>

        <div class="span4 portfolio-item">
            <div class="info">
                <span align="center"><a href="https://play.google.com/store/apps/details?id=Android.GroupCells.Ui" target="_blank">GroupCells: Mobile SNS</a></span>
                <span class="meta" align="center">Android/Java, Product Design</span>
            </div>
            <img src="assets/images/projects/groupcells.png" alt="GroupCells"/>
        </div>

        <div class="span4 portfolio-item">
            <div class="info">
                <span align="center"><a href="assets/project/3DCubeMenu/cubemenu-demo.html" target="_blank">CubeMenu: 3D Animated Menu</a></span>
                <span class="meta" align="center">JS/CSS3/jQMobile/PhoneGap, UX/UI</span>
            </div>
            <img src="assets/images/projects/cubemenu.png" alt="CubeMenu"/>
        </div>

         <div class="span4 portfolio-item">
            <div class="info">
                <span align="center"><a href="assets/project/FastaCash/homepage.html" target="_blank">Fastacash: Mobile Homepage</a></span>
                <span class="meta" align="center">JS/HTML5/CSS3/BootStrap</span>
            </div>
            <img src="assets/images/projects/fastacash.png" alt="Fastacash"/>
        </div>       

         <div class="span4 portfolio-item">
            <div class="info">
                <span align="center"><a href="https://github.com/felixqk" target="_blank">More on GitHub</a></span>
                <span class="meta" align="center">Android, JS, RoR etc</span>
            </div>
            <img src="assets/images/projects/github.png" alt="Github"/>
        </div>       

    </div>
    
</div>

<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap-tooltip.js"></script>
<script src="assets/js/bootstrap-popover.js"></script>
<script>
$(function ()
{ $(".info span a").popover({placement:'top'});

});
</script>
