<!-- projects -->
<div id="projects-page" class="content-page">
    <h1 class="page-header no-top"><i class="icon-large icon-gears"></i> Projects</h1>

    <div class="row-fluid">

        <div class="span4 portfolio-item">
            <div class="info">
                <span><a href="#projects">ScanDelight: Mobile Commerce</a></span>
                <span class="meta">Android/Java, Refactor</span>
            </div>
            <img src="assets/images/projects/scandelight.png" alt="ScanDelight"/>
        </div>

        <div class="span4 portfolio-item">
            <div class="info">
                <span><a href="#projects">HawkEye: Eable Mobile Worker</a></span>
                <span class="meta">Android/Java, UX/UI</span>
            </div>
            <img src="assets/images/projects/hawkeye.png" alt="Hawkeye"/>
        </div>

        <div class="span4 portfolio-item">
            <div class="info">
                <span><a href="#projects">VISABrowser: Mobile Wallet</a></span>
                <span class="meta">Android/Java</span>
            </div>
            <img src="assets/images/projects/visabrowser.png" alt="VisaBrowser"/>
        </div>

        <div class="span4 portfolio-item">
            <div class="info">
                <span><a href="#projects">FinEdge: Mobile Banking CRM</a></span>
                <span class="meta">Windows8/C#, JS/HTML5, UX/UI</span>
            </div>
            <img src="assets/images/projects/finedge.png" alt="FinEdge"/>
        </div>

        <div class="span4 portfolio-item">
            <div class="info">
                <span><a href="#projects">CitizenVoice: Mobile Survey</a></span>
                <span class="meta">Windows8/C#, UX/UI</span>
            </div>
            <img src="assets/images/projects/citizenvoice.png" alt="CitizenVoice"/>
        </div>

        <div class="span4 portfolio-item">
            <div class="info">
                <span><a href="#projects">GroupCells: Mobile SNS</a></span>
                <span class="meta">Android/Java, Product</span>
            </div>
            <img src="assets/images/projects/groupcells.png" alt="GroupCells"/>
        </div>

        <div class="span4 portfolio-item">
            <div class="info">
                <span><a href="#projects">CubeMenu: 3D Animated Menu</a></span>
                <span class="meta">JS/CSS3/jQMobile/PhoneGap, UX/UI</span>
            </div>
            <img src="assets/images/projects/cubemenu.png" alt="CubeMenu"/>
        </div>

         <div class="span4 portfolio-item">
            <div class="info">
                <span><a href="#projects">Fastacash: Mobile Homepage</a></span>
                <span class="meta">JS/HTML5/CSS3/BootStrap</span>
            </div>
            <img src="assets/images/projects/fastacash.png" alt="Fastacash"/>
        </div>       

         <div class="span4 portfolio-item">
            <div class="info">
                <span><a href="#projects">More on GitHub</a></span>
                <span class="meta">Android, JS, RoR etc</span>
            </div>
            <img src="assets/images/projects/github.png" alt="Github"/>
        </div>       

    </div>
    
</div>